{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact Us!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="

background: #BE93C5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BE93C5 , #7BC6CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">

    <!-- Page Content -->
    <div class="container" style="

background: #BE93C5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BE93C5 , #7BC6CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">CONTACT US!

                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="https://github.com/jessefeinman">
                    <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/21089283?v=3&s=400" alt="jesse feinman" width="400" height="400" style="border-radius: 50%;">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Jesse Feinman</h3>
                <h4>PROGRAMMER</h4>
                <a class="btn btn-primary" href="#">Contact Me! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="https://github.com/heyconnie">
                    <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/15879260?v=3&s=400" alt="connie liu" width="400" height="400" style="border-radius: 50%;">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Connie Liu</h3>
                <h4>PROGRAMMER</h4>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/liuconnienyc">Contact Me!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="https://github.com/enzoames">
                    <img class="img-responsive" src="https://avatars2.githubusercontent.com/u/18335788?v=3&s=400" alt="enzo ames" width="400" height="400" style="border-radius: 50%;"> >
                </a>
            </div>
            <div class="col-md-5">
                <h3>Enzo Ames</h3>
                <h4>PROGRAMMER</h4>
                <a class="btn btn-primary" href="#">Contact Me! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="https://www.facebook.com/linqing.ye.1">
                    <img class="img-responsive" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/14702261_1096545820428349_8534383900642507689_n.jpg?oh=b20848b64681baeccb87d966d3973906&oe=5892EAED" alt="linqing Ye" width="400" height="400" style="border-radius: 50%;">>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Linqing Ye</h3>
                <h4>BUSINESS</h4>
                <a class="btn btn-primary" href="https://www.facebook.com/linqing.ye.1">Contact Me!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="https://github.com/Juttaro">
                    <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/10963229?v=3&s=400" alt="James Uttaro" width="400" height="400" style="border-radius: 50%;">>
                </a>
            </div>
            <div class="col-md-5">
                <h3>James Uttaro</h3>
                <h4>PROGRAMMER</h4>
                <a class="btn btn-primary" href="#">Contact Me!<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        <!-- /.row -->
        <div class="row">

            <div class="col-md-7">
                <a href="https://www.linkedin.com/in/mohammad-albouza-61764aa5">
                    <img class="img-responsive" src="https://media.licdn.com/media/AAEAAQAAAAAAAAfHAAAAJGU3MjkzZTUyLWY5ZDAtNGNjOC05ZTU2LTM2NTBmMzcwYTExOQ.jpg" alt="" width="400" height="400" style="border-radius: 50%;">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Mohammad AlBouza</h3>
                <h4>BUSINESS</h4>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/mohammad-albouza-61764aa5">Contact Me! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
{% endblock %}
