{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <!DOCTYPE html>
    <head lang="en-US">
        <meta charset = "utf-8">
        <title>Flagged Emails</title>
    </head>
    <body style ="
background: #4CA1AF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
        <h1 style="text-align:center; font-family: monospace; font-weight: 800;">EMAILS FLAGGED!</h1>

<table width="100%" style="border: 3px solid black; text-align: center; font-weight: bold; font-size: 18px; margin-left : 7px; margin-right: 7px; padding: 3px;">
  <tbody style="border: 3px solid black">
    <tr>
      <td>TO</td>

      <td>FROM</td>

      <td>SUBJECT</td>

      <td>FLAGGED</td>
    </tr>

    <tr>
      <td>john.podesta@gmail.com</td>

      <td>hrod17@clintonemail.com</td>

      <td>"Here's What I Mentioned"</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>huma@clintonemail.com</td>

      <td>relappalachia@cna.org</td>

      <td>[big campaign] MoveOn members pose as "RepubliCorp" at Boehner fundraiser last night</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>hannah@presidentclinton.com</td>

      <td>john.podesta@gmail.com</td>

      <td>[big campaign] Today's Cost of War Receipt to the American People: Panic on Wall Street</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>Benjamin_J._Rhodes@who.eop.gov</td>

      <td>DMCOS@who.eop.gov</td>

      <td>315 pm prep for FOX Town Hall Prep</td>

      <td>Y</td>

    </tr>

    <tr>
      <td>esepp@americanprogress.org</td>

      <td>melanne.verveer@gmail.com</td>

      <td>A great night</td>

      <td>Y</td>

    </tr>

    <tr>
      <td>john.podesta@gmail.com</td>

      <td>lachkey@aol.com</td>

      <td>AG Loretta Lynch</td>

      <td>Y</td>
    </tr>

    <tr>
      <td></td>

      <td>sberger@albrightstonebridge.com</td>

      <td>AP: Top Secret Emails Include Drone Talk</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>enonacs@yahoo.com</td>

      <td>john.podesta@gmail.com</td>

      <td>ASP Newsletter</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>zshaikley@clintonfoundation.org</td>

      <td>williamsbarrett@aol.com</td>

      <td>Be very very careful</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>blindsey@clintonfoundation.org</td>

      <td>john.podesta@gmail.com</td>

      <td>Bernie</td>

      <td>Y</td>
    </tr>

    <tr>
      <td>cheryl.mills@gmail.com</td>

      <td>zshaikley@clintonfoundation.org</td>

      <td>Big Labor Update</td>

      <td>Y</td>
    </tr>
  </tbody>
</table>

    </body>
{% endblock %}
